form{
    display: flex;
     color:black;
     background-color:white;
     text-align:center;
     position: relative;
     padding: 20px;
   
     width:330px;
     height:350px;
     margin:110px 50px 80px 550px;
}

body{
    background-color:rgb(226, 217, 217);
}

#emailLabel,#cNumLabel,#verifyButton, #newPassLabel, #conPassLabel,#changePassButton{
    position:absolute;
    left:20px;
}

#emailLabel,#email{
    top:20px;
}
#email, #cNum, #newPass, #conPass{
 position:absolute;
 left:140px;  
 right:40px; 
}

#cNumLabel, #cNum{
    top:60px;
}

#verifyButton{
    top:90px;
    background-color: rgb(123, 123, 200);
    right:40px;

}
#newPassLabel, #newPass{
    top:130px;
}

#conPassLabel, #conPass{
    top:160px;
}
#changePassButton{
    top:200px;
    right:40px;
    background-color: rgb(67, 108, 67);
    color:white;
}
